a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
    margin: 0;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
}

.first-portion {
    background-color: #1F2937;
    margin: 0;
}