body {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

h2,
h1,
h3,
p,
body {
    margin: 0;
}

.first-portion p,
.header-links {
    color: #E5E7EB;
    font-size: 18px;

}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 8px 150px;
    margin: 0;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-logo-image {
    font-size: 24px;
    width: 150px;
    height: auto;
}

.first-portion {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 80px 150px;
    gap: 100px;
}

img.first-item {
    width: 500px;
}

.signup {
    background-color: #3882F2;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
}

.first-item.text {
    width: 500px;
}

.second-portion {
    text-align: center;
}

.second-portion .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.second-portion h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px;
}

.second-card-item.image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: solid #3882F2;
    border-radius: 20px;
}

.second-card-item.text {
    width: 300px;
    font-size: 18px;
    color: #1F2937;
}

.third-portion {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.third-portion p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 700px;

}

.third-portion div {
    width: 700px;

}

h3.third-source {
    text-align: end;
}